.app {
  -webkit-user-select: none; /* Vendor-prefixed version for Safari and Chrome */
  user-select: none; /* Standard version for modern browsers */
  overflow: hidden;
}

.controls {
  padding: 10px;
  background: #333;
  color: white;
  display: flex;
  gap: 8px;
  -webkit-app-region: drag;
  cursor: grab;
}

.controls input,
.controls button {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
